/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

@import 'variables';
@import 'bookings';
@import 'listings';
@import 'pages';
@import 'reviews';
@import 'avatar_upload';

.max-width-300 {
  max-width: 300px;
}

.height-0 {
  height: 0px;
}

.tinted-image {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(image.jpg);
}

.accessory-icons {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}

.bindings-icon-true {
  background-image: image-url('bindings.png');
}

.bindings-icon-false {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('bindings.png');
}

.bindings-check + label  {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('bindings.png');
}

.bindings-check:checked + label {
  background-image: image-url('bindings.png');
}

.boots-check + label  {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('boots.png');
}

.boots-check:checked + label {
  background-image: image-url('boots.png');
}

.helmet-check + label  {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('helmet.png');
}

.helmet-check:checked + label {
  background-image: image-url('helmet.png');
}

.boots-icon-true {
  background-image: image-url('boots.png');
}

.boots-icon-false {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('boots.png');
}

.helmet-icon-true {
  background-image: image-url('helmet.png');
}

.helmet-icon-false {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('helmet.png');
}

