// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-stars {
  font-size: 1rem;
  font-family: sans-serif;
  color: #F13525;
}