// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter-body {
  margin-top: 1em;
  text-align: center;

  #show-filters {
    cursor: pointer;
  }

  #filters {
  display:  none;
  }
}

.listings-text p {
  margin-top: 1em;
  margin-bottom: 0;
}

a.card-block {
  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
    color: black;
  }
}