// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .btn-success {
//     @include button-variant(red, darken(red, 7.5%), darken(red, 10%), lighten(red,5%), lighten(red, 10%), darken(red,30%));
//   }

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), image-url('sb-hero.jpg');

    /* Set a specific height */
    height: 350px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Place text in the middle of the image */

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        @import 'search_filter';

        .search .row .form-control, .btn {
            width: 90%;
        }

        .rounded {
            width: 150px;
        }
    }
}

.body {
    h1 {
        text-align: center;
    }
}

.profile-container {
    .avatar-container {
        margin-top: 3em;
    }
    .profile-listings-container {
        .profile-listings-count {
            margin: 0 0 0 2em;
        }
    }
}


.landing-body {
    padding:15px;
    img {
        // height: 70%;
        // width: 70%;
        width: 241px;
        height: 427px;
        -webkit-mask-image: linear-gradient(to top, transparent 5%, black 75%);
        mask-image: linear-gradient(to top, transparent 5%, black 75%);
    }
}
.landing-what {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-find, .landing-choose, .landing-book {
    height: 680px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 400px) {
    h1 {
        font-size: 50px;
    }
    .hero-image {
        height: 400px;
    }
    .hero-text {
        #city, #search-btn {
            width: 360px;
        }
    }
}

@media (min-width: 1200px) {
    .landing-body {
        width: 1000px;
        margin: auto;
    }
}