//  Primary colours:
$lblue: #9fc5f8;
$blue: #3a5199;
$black: #000;
// Background colours:
$white: #fff;
$lgrey: #eff4fa;
// Accent colours:
$green: #247a00;
$red: #f13525;
// Stars
$unchecked-star: '☆';
$checked-star: '★';